<?xml version="1.0" encoding="utf-8"?>
<!-- This file has been changed from the original. -->
<manifest xmlns:tools="http://schemas.android.com/tools">
    <!--TODO Remove after https://github.com/dmfs/opentasks/issues/392-->
    <uses-sdk tools:overrideLibrary="org.dmfs.android.contentpal, org.dmfs.android.contentpal.api, org.dmfs.android.bolts"/>
    <application/>
</manifest>
